version: '3'

env:
  GOOSE_DRIVER: "sqlite3"
  GOOSE_DBSTRING: "{{.BRAIN_DB_PATH}}"
  GOOSE_MIGRATION_DIR: "./migrations/brain"

tasks:
  serve:
    desc: Run Mindweaver server with mode=brain
    cmds:
      # When calling tasks from another file is important to prefix with : the task name, otherwise it will resolve in the current key of this taskfile
      # with : calls mw:serve, without calls brain:mw:serve
      - task: ":mw:serve"
        vars: {MODE: "--mode=brain"}
    silent: false

  dev:
    desc: Run brain service in development mode
    cmds:
      - task: ":mw:dev"
        vars: {MODE: "--mode=brain"}
    silent: false

  db:store:generate:
    desc: Generate source code from SQL
    dir: store/brain
    cmds:
      - sqlc generate

  db:store:reset:
    desc: Delete generated store code and regenerate from SQL
    cmds:
      - rm -rf internal/brain/store
      - task: db:store:generate

  db:store:compile:
    desc: Statically check SQL for syntax and type errors
    dir: store/brain
    cmds:
      - sqlc compile

  db:store:vet:
    desc: Vet examines queries
    dir: store/brain
    cmds:
      - sqlc vet

  db:migrations:up:
    desc: Migrate the DB to the most recent version available
    cmds:
      - goose up

  db:migrations:down:
    desc: Roll back the version by 1
    cmds:
      - goose down

  db:migrations:reset:
    desc: Roll back all migrations
    cmds:
      - goose reset

  db:migrations:validate:
    desc: Check migration files without running them
    cmds:
      - goose validate

  db:migrations:create:
    desc: Creates new migration file with the current timestamp
    cmds:
      - goose create {{.CLI_ARGS}} sql
    silent: false
