package pages

import "github.com/nkapatos/mindweaver/internal/templates/layouts"

templ Home() {
    @layouts.AppLayout("Mindweaver - Home", "Your knowledge management solution") {
        <div>
            <h1>Welcome to Mindweaver!!!</h1>
			<p>This is the home page, or is it?</p>
        </div>
    }
}