package components

import "time"

templ Footer() {
	<footer class="footer footer-center p-4 bg-base-100 border-t border-base-300 text-base-content">
		<div>
			<p>Copyright © { time.Now().Year() } - All rights reserved by MindWeaver</p>
		</div>
	</footer>
}
