package components

import "github.com/nkapatos/mindweaver/internal/templates/elements"

templ NavigationMenu() {
	<ul class="menu menu-lg">
		<li>
			<a href="/" class="active">
				@elements.Icon("house")
				Home
			</a>
		</li>
		<li>
			<a href="/prompts">
				@elements.Icon("terminal")
				Prompts
			</a>
		</li>
		<li>
			<a href="/settings">
				@elements.Icon("settings")
				Settings
			</a>
		</li>
	</ul>
} 