version: '3'

vars:
  NEOWEAVER_DIR: ./clients/neoweaver
  PROTO_DIR: ./proto/mind/v3
  TS_GEN_DIR: '{{.NEOWEAVER_DIR}}/gen/ts'
  TYPES_OUTPUT: '{{.NEOWEAVER_DIR}}/lua/neoweaver/types.lua'
  SCRIPTS_DIR: '{{.NEOWEAVER_DIR}}/scripts'

tasks:
  types:proto:
    desc: Generate TypeScript types from proto files
    dir: ./proto
    cmds:
      - buf generate
    sources:
      - mind/v3/*.proto
    generates:
      - ../clients/neoweaver/gen/ts/v3/*_pb.ts

  types:ts-to-lua:
    desc: Convert TypeScript types to Lua annotations
    deps:
      - types:proto
    cmds:
      - '{{.SCRIPTS_DIR}}/ts-to-lua.sh {{.TS_GEN_DIR}} {{.TYPES_OUTPUT}}'
    sources:
      - '{{.TS_GEN_DIR}}/v3/*_pb.ts'
    generates:
      - '{{.TYPES_OUTPUT}}'

  types:cleanup:
    desc: Remove temporary TypeScript files
    deps:
      - types:ts-to-lua
    cmds:
      - rm -rf {{.TS_GEN_DIR}}

  types:generate:
    desc: Generate Lua type annotations from protobuf definitions (full pipeline)
    aliases: [types:gen]
    deps:
      - types:proto
      - types:ts-to-lua
      - types:cleanup

  types:clean:
    desc: Remove all generated files (Lua types and TypeScript)
    cmds:
      - rm -f {{.TYPES_OUTPUT}}
      - rm -rf {{.TS_GEN_DIR}}
